body {
	background-color: white;
	margin: 0px;
	padding: 0px;
}

.header {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: white;
}

#logout {
	position: absolute;
	right: 10px;
	top: 5px;
}

.content-main {
	position: absolute;
	width: 100%;
	top: 52px;
	bottom: 0px;
	transition:top 0.3s ease-in-out;
	-webkit-transition:top 0.3s ease-in-out;
}

#pageTabContent {
	height: 95%;
	overflow: auto;
	position: relative;
	clear:both;
}

.col-a {
	position: absolute;
	width: 25%;
	height: 100%;
	padding: 5px;
	border: 1px solid #ddd;
}

.col-b {
	position: absolute;
	width: 75%;
	left: 25%;
	height: 100%;
	padding-left: 10px;
	transition:width 0.3s, left 0.3s;
	-webkit-transition:width 0.3s, left 0.3s;
}

.col-a, col-b {
	overflow: auto;
}

#dock {
	position: fixed;
	/*use these value to positon the Dock */
	bottom: -380px;
	z-index: 1001;
	right: 10px; /* change it according to your convenience   */
	height: 400px;
	width: 120px;
	background-color: #FFFAE6;
	padding: 0 5px;
	border-radius: 6px;
	background: rgba(154, 147, 147, 1);
	-webkit-box-shadow: 2px 2px 3px rgba(172, 172, 172, 0.4);
	-moz-box-shadow: 2px 2px 3px rgba(172, 172, 172, 0.4);
	box-shadow: 2px 2px 3px rgba(172, 172, 172, 0.4);
	transition: top .25s, box-shadow .5s, width .5s, bottom .5s;
	-webkit-transition: top .25s, box-shadow .5s, width .5s, bottom .5s;
	clear: both;
}

#dock:hover {
	bottom: 0px;
	width: 400px;
}

.jqtree-tree .jqtree-title {
	display: block;
	white-space: nowrap;
	margin: 0 0 0 0;
	text-overflow: initial;
	overflow: visible;
}

.jqtree-tree .jqtree-loading>div .jqtree-title:after {
	content: url(loading.gif);
	margin-left: 8px;
}

.modal-body {
	max-height: 80%;
	height: 80%;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

#pageTab {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	height: 5%;
	min-height: 10px;
}

#pageTab li>span {
	position: absolute;
	right: 5px;
	top: 0px;
	cursor: pointer;
	color: #ddd;
}

#pageTab li>span:hover {
	color: red;
}

.tab-pane {
	padding-top: 10px; width : 100%;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#browseTree .glyphicon {
	float: left;
	padding-right: 3px;
}

#browseTree .folder>*>.jqtree-title {
	color: #5776b9;
}

#browseTree .unstructured>*>.jqtree-title {
	color: #204107;
}

#browseTree .file>*>.jqtree-title {
	color: #56533b;
}

body.full-screen .content-main {
	top: 0px;
	z-index: 1001;
	background-color: white;
}

body.full-screen .col-a {
	display: none;
}

body.full-screen .col-b {
	left: 0px;
	width: 100%;
}

#full-screen {
	display:block;
	position:absolute;
	right:10px;
	top:10px;
}
#small-screen {
	display:none;
	position:absolute;
	right:10px;
	top:10px;
}

#full-screen:hover, #small-screen:hover {
	color:red;
}
body.full-screen #full-screen {
	display:none;
}
body.full-screen #small-screen {
	display:block;
}

.screenLock {
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	background: rgba(255, 255, 255, 0.8);
	overflow-y: hidden;
	overflow-x: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: -1;
	line-height:normal;
	letter-spacing:normal;
} 

body.lock .screenLock {
	z-index:1041;
}

body.lock .col-b {
	z-index:1042;
}

#contextMenu>li {
	position:relative;
}

#contextMenu li:hover .fa-refresh {
	color:cadetblue;
}

#contextMenu li:hover .fa-plus-circle {
	color:darkgreen;
}

#contextMenu li:hover .fa-trash {
	color:maroon;
}

#contextMenu li:hover .fa-copy {
	color:yellowgreen;
}

#contextMenu li:hover .fa-paste {
	color:darkgoldenrod;
}

#contextMenu li:hover .fa-arrows {
	color:darkslateblue;
}

#contextMenu li:hover .fa-wrench {
	color:darkslateblue;
}

#contextMenu li:hover .fa-wrench {
	color:orange;
}

#contextMenu li.disabled>a {
	color:#eeeeee;
}

#contextMenu li.disabled:hover .fa-paste, #contextMenu li.disabled:hover .fa-arrows {
    color:#eeeeee;
}



#newNodeName {
	width:49%;
	float:left;
}

#nodeTypeSelect {
	width:49%;
	float:right;
}

/* secret form submit */
input[type=submit] {
	visibility: hidden;display:none;
}

.renameItem {
	position:absolute;
	left:100px;
	top:0px;
}

#resultPanel {
	height:95%;
	padding:10px;
	overflow:auto;
}

